.Header {
    width: 100%;
    height: 6rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header .reference { 
    display: flex;
    align-items: center;
}

.Header .reference .arquari-flag {
    width: 3rem;
    border-radius: 50%;
}

.Header .reference .name {
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: semibold;
}

.Header .nav-small-screen .menu-toggle {
    width: 3rem;

    display: flex;
    flex-direction: column;
}

.Header .nav-small-screen .menu-toggle span {
    width: 100%;
    height: .4rem;
    background-color: #000;
    transition: ease .3s;
}

.Header .nav-small-screen .menu-toggle .mid-line {  
    margin: .3rem 0rem;
}

/* Nav small screen open */
/* .Header-open {
    height: 100vh;
    background-color: #000;
} */

/* .Header-open .nav-small-screen .menu-toggle span {
    background-color: #fff;
} */

.Header-open .nav-small-screen .menu-toggle .top-line {  
    transform: translateY(.7rem);
}

.Header-open .nav-small-screen .menu-toggle .bot-line {  
    transform: translateY(-.7rem);
}

.Header .nav-small-screen .links {
    display: none;
}