.News {
    width: 20rem;
    height: 35rem;
    /* background-color: #000; */
    border-radius: 1rem;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.News .news-texts {
    background-color: rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
}

.News .news-texts .news-title {
    font-size: 2rem;
    color: #fff;
}

.News .news-texts .news-summary {
    font-size: 1.6rem;
    color: #fff;
}

.News img {
    width: 100%;
    border-radius: 1rem;
    z-index: -1;
}